[submodule "themes/even"]
	path = themes/even
	url = https://github.com/stardustman/hugo-theme-even.git
[submodule "themes/hugo-theme-next"]
	path = themes/hugo-theme-next
	url = https://github.com/hugo-next/hugo-theme-next.git
